body {
    background-color:black;
    color:white;
    font-family:"Microsoft YaHei","微软雅黑",Helvetica,Tahoma,Arial,STXihei,"华文细黑",sans-serif;
    font-size:14px;
}

p{
        text-indent:2em;    /*首行缩进两字符*/
    }

h1,h3,h4 {
    color:#ff9f20;
}

.rowbackground-white {
    background-color:white;
    color:#333333;
}

.font-white {
     background-color:#0e0e0e;
     color:white;
}

#photo {    
    text-align:center;
    padding-top:20px;
    padding-bottom:10px;     
}

#aboutme {
    padding-bottom:10px;
}

#information {    
    padding-top:20px;
    padding-left:20px;
    padding-bottom:20px;        
}

#experience {
    padding-bottom:20px;    
}

#skill {
    padding-left:20px;
    padding-top:20px;
    padding-bottom:20px;        
}

#education {
    padding-bottom:20px;
}

ul {
    list-style-type:none;
    float:left;
    padding-left:20px;
}

.container {
    margin-top:20px;
    margin-bottom:20px;
    background:#333333;
}

.icon-font {    
    background-color:#0e0e0e;    
    position:relative;
    border-radius:50%;
    width:52px;
    height:52px;
}

.padding-top-10 {
    padding-top:10px;
}

.border {    
    border-left:5px solid #ff9f20;
    padding-left:10px;
}

.hoverFont {    
    line-height: 2;
    vertical-align: middle;
    position: absolute;
    font-size: 30px;
    right: 11px;
    top: -4px;
}
.hoverFont:hover {
   animation:hoverfont 1s 3;
   -webkit-animation:hoverfont 1s 3;
}

.hoverScale {    
}
.hoverScale:hover {
   animation:hoverfont 1s 3;
   -webkit-animation:hoverfont 1s 3;
}

h1:hover {
    animation:rotate 200ms 10;
    -webkit-animation:rotate 200ms 10;    
}
h3 {
    text-align:center;
}
h3:hover {
    animation:rotatey 2s 3;
    -webkit-animation:rotatey 2s 3;
}
.horizontal-line {
    position:fixed;
    left:0;
    top:0%;
    border:none;
    display:none;
    width:0%;
    height:5px;
    background-color:#ff9f20;
    z-index:9;
}
    .horizontal-line.active {
        animation:hoverLine 3s;
    }

/*刷新按钮的样式*/
.refresh-btn {      
    position:absolute;
    left:30%;
    top:80%;
}

 .refresh-btn > a {
  display:flex;
  position: absolute;
  /*top: calc(50% - 60px);
  left: calc(50% - 60px);*/
  width: 60px;
  height: 60px;
  background: rgba(255, 255, 255, 0.9);
  text-align: center;
  align-items: center;
  justify-content: center;
  border-radius: 120px;  
  text-decoration: none;
  color: #333;
  transition: all 1s ease;
  box-shadow: 0 0 15px #222;
  font-family: "segoe ui";
  font-weight: 200;
  font-size: 18px;
 }
    .refresh-btn > a:hover {
        animation:hoverfont 800ms  ease 3;
        -webkit-animation:hoverfont 800ms ease 3;                
    }

#refresh-btn.active {  
        animation:jump 2s  ease infinite alternate;
        -webkit-animation:jump 2s ease infinite alternate;                
}

 .refresh-btn .selected {          
     background: rgba(51, 51, 51, 0.9);
     display: flex;
     top: calc(50% - 60px);
     left: calc(50% - 60px);
     color: #f1f1f1;
     box-shadow: 0 0 10px #f1f1f1;
}
 .refresh-btn .selected:hover {
        animation:hoverfont 1s 3;
        -webkit-animation:hoverfont 1s 3;        
    }


 /*设置的样式表*/
 .wrapper {
  z-index:9;
  width: 105px;
  margin: 30px auto;
  text-align: center;
  position: fixed;
  top: 0;
  left:1%;
}

.icons {
  margin-bottom: 1.5em;
}

.icons--fire {
  fill: url(#fire);
}
.icons--fire .icon:hover {
  fill: none;
  stroke: url(#fire);
}

.set-icon {        
  width: 7.5em;
  height: 7.5em;
  margin: 0 .7em;
  stroke: rgba(0, 0, 0, 0.3);
  stroke-width: 4;
  -webkit-transition:all 200ms;
  transition:all 200ms;
}
    .set-icon:hover {
        animation:hoverfont 3000ms linear infinite;
        -webkit-animation:hoverfont 3000ms linear infinite;
    }
    .set-icon.active {
        animation:rotate2D 3000ms infinite linear;
        -webkit-animation:rotate2D 3000ms infinite linear;
    }



/*媒体查询，响应式样式设置*/
@media (max-width:991px) {                                  /*在小于768像素的屏幕里,这里的样式才生效*/  
    #education-icon,#experience-icon,#refresh{
        display:none;
    }
     .wrapper {
        display:none;
    }
    .refresh-btn {
        display:none;
    }
}

@media (max-width:768px) {                                  /*在小于768像素的屏幕里,这里的样式才生效*/  
    
}  

@media (min-width: 768px) and (max-width: 991px) {  
    /*在768和991像素之间的屏幕里,这里的样式才生效*/  
}  

@media (min-width: 992px) and (max-width: 1199px) {  
    /*在992和1199像素之间的屏幕里,这里的样式才生效*/
    #account {
        display:none;
    }
    .wrapper {
        display:none;
    }
    .refresh-btn {
        display:none;
    }
}  

@media (min-width: 1200px) {  
    /*在大于1200像素的屏幕里,这里的样式才生效*/    
}

.cursor {
    cursor:pointer;
}



/*animation各类动画*/

/*鼠标悬停图标时效果*/
@keyframes hoverfont {
    0%,100% {
        transform:scale(1,1);
    }
    50% {
        transform:scale(1.5,1.5);
    }
}



/*鼠标抖动效果*/
@keyframes rotate {
   0%,100%{
      -webkit-transform: rotate(0deg);
      -moz-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
      -o-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  25%{
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
    transform: rotate(10deg);
  }
  50%{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  75%{
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    transform: rotate(-10deg);
  }
}

/*绕y轴旋转3D旋转*/
@keyframes  rotatey{    
  0%{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  25%{
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
  }
  50%{
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  75%{
    -webkit-transform: rotateY(270deg);
    -moz-transform: rotateY(270deg);
    -ms-transform: rotateY(270deg);
    -o-transform: rotateY(270deg);
    transform: rotateY(270deg);
  }
  100%{
    -webkit-transform: rotateY(360deg);
    -moz-transform: rotateY(360deg);
    -ms-transform: rotateY(360deg);
    -o-transform: rotateY(360deg);
    transform: rotateY(360deg);
  }
}


/*顶部的进度条动画*/
@keyframes hoverLine {
    0% {
       width:0%;
    }
    100% {
        width:100%;
    }
}


/*2D旋转，设置的动画效果*/
@keyframes  rotate2D{    
  0%{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  25%{
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
  }
  50%{
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  75%{
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
  }
  100%{
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes jump {
    0% {
        top:80%;    
    }    
    50% {
        top:160%;
    }        
    100% {
        top:80%;
    }
}