body {
    background-color:black;
    color:white;
}

p{
        text-indent:2em;    /*首行缩进两字符*/
    }

h1,h3,h4 {
    color:#ff9f20;
}

.rowbackground-white {
    background-color:white;
    color:#333333;
}

.font-white {
     background-color:#0e0e0e;
     color:white;
}

#photo {    
    text-align:center;
    padding-top:20px;
    padding-bottom:10px;     
}

#aboutMe {     
    background-color:white;        
    height:inherit;
    padding-right:30px;
}

#information {    
    padding-top:20px;
    padding-left:20px;
    padding-bottom:20px;        
}

#experience {     
    background-color:white;
    height:inherit;
    color:#333333;
    padding-right:30px;
}

#skill {
    padding-left:20px;
    padding-top:20px;
    padding-bottom:20px;        
}

#education {     
    background-color:white; 
    color:#333333; 
    height:inherit;
    padding-right:30px;   
}

ul {
    list-style-type:none;
    float:left;
    padding-left:20px;
}

.container {
    margin-top:20px;
    margin-bottom:20px;
    background:#333333;
}

.icon-font {
    border-radius:100%;
    background-color:#0e0e0e;
    line-height:25px;
}

@media (max-width:767px) {                                  /*在小于768像素的屏幕里,这里的样式才生效*/  
    #education-icon,#experience-icon{
        display:none;
    }
}  

@media (min-width: 768px) and (max-width: 991px) {  
    /*在768和991像素之间的屏幕里,这里的样式才生效*/  
}  

@media (min-width: 992px) and (max-width: 1199px) {  
    /*在992和1199像素之间的屏幕里,这里的样式才生效*/  
}  

@media (min-width: 1200px) {  
    /*在大于1200像素的屏幕里,这里的样式才生效*/  
}  