body {
    background-color:black;
    color:white;
}

p{
        text-indent:2em;    /*首行缩进两字符*/
    }

h1,h3,h4 {
    color:#ff9f20;
}

.rowbackground-white {
    background-color:white;
    color:#333333;
}

.font-white {
     background-color:#0e0e0e;
     color:white;
}

#photo {    
    text-align:center;
    padding-top:20px;
    padding-bottom:10px;     
}

#aboutme {
    padding-bottom:10px;
}

#information {    
    padding-top:20px;
    padding-left:20px;
    padding-bottom:20px;        
}

#experience {
    padding-bottom:20px;    
}

#skill {
    padding-left:20px;
    padding-top:20px;
    padding-bottom:20px;        
}

#education {
    padding-bottom:20px;
}

ul {
    list-style-type:none;
    float:left;
    padding-left:20px;
}

.container {
    margin-top:20px;
    margin-bottom:20px;
    background:#333333;
}

.icon-font {
    border-radius:100%;
    background-color:#0e0e0e;
    line-height:25px;
}

.padding-top-10 {
    padding-top:10px;
}


.line-vertical {
    background-color:#ff9f20;
    width:5px;
    height:45px;        
    margin-top:10px;
    margin-bottom:0;
    margin-right:10PX;
}

.line-vertical-devision {
    border-right-style:solid;
    border-right-color:black;
}

@media (max-width:628px){
    .line-vertical {
        display:none;
    }
}


@media (max-width:991px) {                                  /*在小于768像素的屏幕里,这里的样式才生效*/  
    #education-icon,#experience-icon{
        display:none;
    }
}

@media (max-width:768px) {                                  /*在小于768像素的屏幕里,这里的样式才生效*/  
    
}  

@media (min-width: 768px) and (max-width: 991px) {  
    /*在768和991像素之间的屏幕里,这里的样式才生效*/  
}  

@media (min-width: 992px) and (max-width: 1199px) {  
    /*在992和1199像素之间的屏幕里,这里的样式才生效*/
    #account {
        display:none;
    }
}  

@media (min-width: 1200px) {  
    /*在大于1200像素的屏幕里,这里的样式才生效*/  
}  